{%extends "::base.html.twig"%}
{% form_theme form 'BoAnnonceBundle:Form:fields.html.twig' %}

{% block body %}
     {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            <p class="bg-danger">
                {{ flashMessage }}
            </p>
        </div>
    {% endfor %}
    
    {{ form_start(form, {'attr': {'class': 'form-horizontal'} } ) }}
        
    {{ form_end (form) }}
{% endblock %}
