<!DOCTYPE html>
<html>
    <head>
        <title>Annonces</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('dist/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/boannonce/css/custom.css') }}" type="text/css" rel="stylesheet" />
        
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        <!-- menu -->
        	{% include('BoAnnonceBundle:Default:menu.html.twig') %}
        <!-- menu end -->

        <div class="container">
            <div class="row">
                {% block body %}
                {% endblock %}
                
            </div>
        </div>

    </body>
</html>