/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 nov. 2014, 09:45:43
    Author     : da
*/

.signin, .signup {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

body {
    margin-top: 90px;
    margin-bottom: 20px
}

.panel-heading {
    height: 55px;
}

.panel-heading a {
    float: right;
    margin-top: -20px;
}

.panel .list-group {
    text-align: center;
}
