<div class="footer">
 <div class="container">
   <div class="row">     
     <div class="col-sm-4">
         <p>Symfony 2</p>
         <p>36 quai de l'entreprise</p>
         <p>3615 Au secours</p>
         <p>Capital : 0.10€</p>
   </div>

    <div class="col-sm-4">
        <p>Le nombre d’annonces en ligne : </p>
        <p>Le nombre d’annonces globals : </p>
        <p>Le nombre d’inscrit sur la plateforme : </p>
     </div>

     <div class="col-sm-4 ">
        <p><a href="{{path('_contact')}}">Nous contacter</a></p>
        <p><a href="">Les conditions générales</a></p>
     </div>
 </div>
 </div>
</div>
